body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

h1 {
   display: flex;
   justify-content: center; 
   font-size: 50px;
   padding: 20px;
}

p{
    font-size: 20px;
    max-width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.quiz-button {
    background-color: indigo;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    display: block;
}

.start-button {
    padding: 20px;
    margin: auto;
    display: flex;
}

.time {
    position: absolute;
    top: 0;
    right: 16px;
}

.view-highscores {
    position: absolute;
    top: 0;
    left: 16px;
    color: indigo;
    font-size: 20px;
    margin: auto;
    border: 0;
    background: none;
    padding: 20px;
}

#content {
    font-size: 20px;
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#quiz-container {
    
}

.result {
    position: absolute;
    bottom: -5%;
}

.end-quiz {
    font-size: 40px;
    padding-bottom: 10%;
}

ul {
    list-style-type: none;
    border-bottom: solid gray;
    padding: 5%;
}